<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/style.css" />
        <title>SupinFarm</title>
    </head>

    <body>
        <div id="bloc_page">
            <header>
                <div id="titre_principal">
                   <!--  <img src="pelle.jpg" alt="Pelle" id="logo" /> -->
                    <h1>SupinFarm</h1>
                    <h2>Jeux en ligne multijoueur</h2>
                </div>
                
                <nav>
                    <ul>
                        <li><a href="/">Accueil</a></li>
                        <li><a href="/play">Jouer</a></li>
                        <li><a href="/register">Créer un compte</a></li>
                        <li><a href="/administration_game">administration</a></li>
                    </ul>
                </nav>
            </header>
            
            <div id="banniere_image">
                <div id="banniere_description">
                    SupinFarm
                    <a href="#" class="bouton_rouge"><img src="images/flecheblanchedroite.png" alt="" /></a>
                </div>
            </div>
            
            
            <footer>

            </footer>
        </div>
    </body>
</html>
